@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Syncopate&display=swap');

body{
    background-color:rgb(255, 157, 248);
}

.heading {
    color: white;
    font-family: 'Syncopate', sans-serif;
    font-size: 2rem;
    animation: heading;
    animation-duration: 3s;
    position: relative;
}

@keyframes heading {
    0% {top: -300px}
    100% {top: 0}
}


.ingredients {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    animation: ingredients;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes ingredients {
    0% {right: -1000px;}
    100% {right: 0;}
}

.ingredients-table{
    border: 1px solid black;
    margin: 0 auto;
}

.instructions{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    animation: instructions;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes instructions {
    0% {right: -1000px;}
    100% {right: 0;}    
}

.link {
    text-align: center;
}

.btn {
    border: 2px solid white;
    display: inline-block;
    margin: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Syncopate', sans-serif;
}